<!-- components/modals/modals.hbs -->
{{#> components/base/base}}
  {{#*inline "body"}}
    <h2>Modals</h2>
    <div class="modal">
      <div class="modal-content">
        This is a modal window
      </div>
    </div>
  {{/inline}}
  {{pageTitle "Modals"}}
{{/components/base/base}}
