.links-container {
    flex: 1;
    padding: 20px;
}

.links-container ul {
    list-style-type: none;
    padding: 0;
}

.links-container li {
    padding: 4px 8px;
}

.links-container h2 {
    margin: 0;
}